body{
  overflow-x: hidden;
}
.main h2{
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
  margin-bottom: 20px;
}
.main h1{
  font-size: 400%;
  text-transform: lowercase;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}
.main_cards{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap:29px ;
  margin-top: 100px;
}
.main_cards div{
  font-family: 'RocknRoll One', sans-serif;
  width: 125px;
  height: 115px;
  text-align: center;
  padding: 20px 20px;
  font-size: 65px;
  color: #fff;
  border: 0px solid #708090;
}
.card1{
  transition: 0.8s;
  background-color: #708090d5;
}
.card1:hover{
  background-color:#000;
}
.card2{
  transition: 2s;
  background-image: url(../img/slowmo-zamedlennoe-video1.jpg);
  background-position: 0 0;
}
.card2:hover{
  background-position: 100% 100%;
}
.card3{
  background-position: 3px 0, 3px 0, 15px -150px, 15px -150px;
  transition: 1s;
  background-color: #708090d5;
}
.card3:hover{
  background-position:3px -70px, 3px -70px, 15px -80px, 15px -80px;
  background-color: #E04332;
}
.card4{
  background-size: 5px 5px;
  transition: 1s;
  background-image: url(../img/картина-круга-безшовная-6543066.jpg);
  background-repeat: no-repeat;
  background-color: #708090d5;
  text-align: center;
}
.card4:hover{
  background-size: 600px 600px ;
}
.card5{
  transition: 0.8s;
  background-color: #708090d5;
}
.card5:hover{
  background-color:#000;
  border-radius: 50%;
}
.card6{
  transition: 0.8s;
  border-radius:0 100%;
  background-color: #708090d5;
}
.card6:hover{
  background-color:#000;
  border-radius:100% 0;
}
.card7{
  transition: 0.8s;
  background-color: #708090d5;
  box-sizing: border-box;
}
.card7:hover{
  background-color:#000;
  border-width: 70px;
  box-sizing: border-box;
}
.card8{
  transition: 0.8s;
  background-color: #708090d5;
}
.card8:hover{
  background-color:#000;
  border-width: 35px;
}
.card9{
  transition: 0.8s;
  background-color: #708090d5;
}
.card9:hover{
  background-color:#000;
  border-width: 75px;
}
.card10{
  transition: 0.8s;
  box-shadow:0 0 black ;
  background-color: #708090d5;
}
.card10:hover{
  box-shadow: 0 150px 10px -50px rgba(0,0,0,.5);
}
.card11{
  transition: 1.6s;
  box-shadow:none;
  background-color: #708090d5;
}
.card11:hover{
  box-shadow:inset -75px -75px 400px #000;
}
.card12{
  transition: 0.8s;
  box-shadow:inset 0 0 75px 75px slategray, 0 0 0 slategray ;
}
.card12:hover{
  box-shadow:inset 0 0 35px 35px transparent, 0 0 75px 50px transparent;
}
.card13{
  transition: 1.6s;
  background-color: #708090d5;
}
.card13:hover{
color: #000;
}
.card14{
  transition: 1.6s;
  background-color: #708090d5;
}
.card14:hover{
font-size: 300px;
}
.card15{
  transition: 1s;
  background-color: #708090d5;
}
.card15:hover{
height: 0px;
}
.card16{
  transition: 1s;
  background-color: #708090d5;
}
.card16:hover{
letter-spacing: 100px;
}
.card17{
  line-height: 0px;
  transition: 1s;
  background-color: #708090d5;
}
.card17:hover{
line-height: 150px;
}
.card18{
  opacity: 1;
  transition: 0.8s;
  background-color: #708090d5;
}
.card18:hover{
opacity: 0;
}
.card19{
  outline: 0px solid #000;
  transition: 0.8s;
  background-color: #708090d5;
}
.card19:hover{
outline-width: 100px;
}
.card20{
  outline: 5px dashed #708090d5;
  transition: 0.8s;
  background-color:#708090d5 ;
}
.card20:hover{
outline-offset:30px;
}
.card21 {
  outline: 1 solid #708090d5;
  transition: 1s;
  background-color: #708090d5;
}
.card21 :hover{
  outline: 20px solid rgb(255, 0, 0)
}
.card22{
  transition: 1s;
  background-color: #708090d5;
}
.card22 p :hover{
  padding: 50px 200px 50px 50px;
}
.card23{
  text-indent: 0;
  transition: 1s;
  background-color: #708090d5;
}
.card23:hover{
text-indent: 100px;
}
.card24{
  text-shadow: 0 0 0 black;
  transition: 1s;
  background-color: #708090d5;
}
.card24:hover{
  text-shadow: 20px 20px 10px rgba(0,0,0,.5);
}
.card25{
  text-shadow: 0 0 0 white;
  transition: 1s;
  background-color: #708090d5;
}
.card25:hover{
  text-shadow:0 0 10px white;
}
.card26{
  text-shadow: 0 0 0 white;
  transition: 1s;
  background-color: #708090d5;
}
.card26:hover{
  text-shadow:0 0 rgba(255,255,255,0), -45px -45px 0 red, -30px -30px 0 orange, -15px -15px 0 yellow, 0 0 0 green, 15px 15px 0 blue, 30px 30px 0 indigo, 45px 45px 0;
}
.card27{
  transition: 1s;
  background-color: #708090d5;
}
.card27:hover{
  margin-top: 100px;
}
.card28{
  transform: rotate(0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card28:hover{
transform: rotate(360deg);
}
.card29{
  transform: scale(1);
  transition: 1s;
  background-color: #708090d5;
}
.card29:hover{
transform:scale(2) ;
}
.card30{
  transform: skewX(0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card30:hover{
transform:skewX(180deg) ;
}
.card31{
  transform: rotate(0deg) scale(1);
  transition: 1s;
  background-color: #708090d5;
}
.card31:hover{
transform:rotate(360deg) scale(0) ;
}
.card32{
  transform: perspective(400px) rotateY(0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card32:hover{
transform:perspective(400px) rotateY(360deg) ;
}
.card33{
  transform: perspective(400px) rotateX(0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card33:hover{
transform:perspective(400px) rotateX(360deg) ;
}
.card34{
  transform:perspective(400px) rotateY(0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card34:hover{
transform:perspective(400px) translateZ(150px) rotateY(180deg);
}
.card35{
  transform:perspective(400px) translate3d(0,0,0) rotateX(0) rotateY(0) rotateZ(0);
  transition: 2s;
  background-color: #708090d5;
}
.card35:hover{
transform:perspective(400px) translate3d(0,0,-5000px) rotateX(720deg) rotateY(360deg) rotateZ(-360deg);
}
.card36{
  transform:perspective(400px) rotate3d(1,1,0,0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card36:hover{
transform:perspective(400px) rotate3d(1,1,0,180deg);
}
.card37{
  transform:perspective(400px) rotate3d(0,1,0,0deg);
  transition: 1s;
  background-color: #708090d5;
}
.card37:hover{
transform:perspective(400px) rotate3d(0,1,0,-180deg);
}
.card38{
  transform-origin: 50% 50% ;
  transition: 1s;
  background-color: #708090d5;
}
.card38:hover{
transform-origin: 0 100% ;
}
.card39{
  transition: 1s;
  background-color: #708090d5;
}
.card39:hover{
  width: 300px;
}